<div class="server-notice-container">

  <p class="error notice" id="server-notice">
    <span>There is an error on our server. Sorry for inconvenience. Please try again later.</span>
    <button class="icon-button" onclick="document.getElementById('server-notice').style.display='none'">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path fill="currentColor"
          d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
      </svg>
    </button>
  </p>

  <% if (notice !="none" ) {%>
    <p class="server-<%= notice %> notice" id="backend-notice">
      <span>
        <%= noticemsg %>
      </span>
      <button class="icon-button" onclick="document.getElementById('backend-notice').style.display='none'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path fill="currentColor"
            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
        </svg>
      </button>
    </p>
    <% } %>

</div>

<div class="container">

  <aside class="left-section">
    <div class="menu-hide"><span class="material-symbols-outlined">chevron_left</span><span class="tooltiptext">Minimize Menu</span></div>
    <div class="logo">
      <button class="menu-btn" id="menu-close">
        <span class="material-symbols-outlined">close</span>
      </button>
      <img src="/images/sagpt-logo.png">
      <a>ShoreAgents GPT</a>
    </div>

    <div class="sidebar">
      <div class="item ai-assistant" id="active">
        <span class="material-symbols-outlined">chat</span>
        <a>AI Assistant</a>
      </div>
      <div class="item manual-article-generator">
        <span class="material-symbols-outlined">edit_note</span>
        <a>Manual Article Generator</a>
      </div>
      <div class="item instructive-article-generator">
        <span class="material-symbols-outlined">article_shortcut</span>
        <a>Instructive Article Generator</a>
      </div>
      <!-- <div class="item faq-schema-generator">
        <span class="material-symbols-outlined">schema</span>
        <a>Schema Generator</a>
      </div> -->
      <div class="item settings">
        <span class="material-symbols-outlined">settings</span>
        <a>Settings</a>
      </div>
    </div>

    <div class="sidebar2"></div>

    <!-- <div class="pic">
          <img src="assets/pro.png">
      </div> -->

    <div class="profile">
      <div class="left">
        <div class="user">
          <h5>
            <%= firstname %>
              <%= lastname %>
          </h5>
          <a>
            <%= role %>
          </a>
        </div>
      </div>
      <form action="/logout?_method=DELETE" method="POST">
        <input type="hidden" name="username" value="<%= username %>">
        <button type="submit" class="logout material-symbols-rounded">logout<span class="tooltiptext">Logout</span></button>
        
      </form>
    </div>

  </aside>

  <main>
    <header>
      <input type="hidden" name="userName" id="userNameChat" value="<%= username %>">
      <div class="main-header">
        <button class="menu-btn" id="menu-open">
          <span class="material-symbols-outlined">menu</span>
        </button>
        <h5>Hello <b><%= firstname %></b>, welcome back!</h5>
      </div>

      <div class="chatbot tabs-section tab-content-1">
        <div class="tab-content typography">
          <ul class="chatbox">
            <li class="chat incoming">
              <span class="material-symbols-outlined">smart_toy</span>
              <div>Hey there! How can I help you?</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="input-chat-container">
        <div class="chat-input">
          <textarea placeholder="Ask questions here..." required></textarea>
          <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
      </div>

      <div class="tab-content tabs-section tab-content-settings typography">
        <div class="settings-item ai-assistant-settings">
          <span class="material-symbols-outlined">chat</span>
          <span>AI Assistant Settings</span>
        </div>
        <div class="settings-item profile-settings">
          <span class="material-symbols-outlined">manage_accounts</span>
          <span>Profile Details</span>
        </div>
        <div class="settings-item change-password">
          <span class="material-symbols-outlined">key</span>
          <span>Change Password</span>
        </div>

        <% if (role=="Admin" ) { %>
          <button class="settings-item download-logs"
            onclick="document.getElementById('enterPassword').style.display='flex'">
            <span class="material-symbols-outlined">file_download</span>Download Logs</button>
          <div class="settings-item strapi-admin">
            <span class="material-symbols-outlined">shield_person</span>
            <span>Admin Database</span>
          </div>
          <style>
            .download-logs {
              border: none;
              font-size: 16px;
            }
          </style>
          <div class="enterPassword" id="enterPassword">
            <article class="modal-container login-modal">
              <div class="modal-container-header">
                <h1 class="modal-container-title">
                  Please enter your password
                </h1>
                <button class="icon-button" onclick="document.getElementById('enterPassword').style.display='none'">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path fill="currentColor"
                      d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                  </svg>
                </button>
              </div>
              <form method="POST" action="/">
                <section class="modal-container-body login-body rtf">
                  <input type="hidden" name="userAction" value="DownloadLogs">
                  <div class="login-container">
                    <div class="login-title">Password</div>
                    <div class="title-input">
                      <input type="password" class="login-input" id="confirmPassword" name="password"
                        placeholder="Enter password..." required>
                    </div>
                  </div>
                </section>
                <footer class="modal-container-footer">
                  <button type="submit" class="button is-primary enterPasswordBtn">Submit</button>
                </footer>
              </form>
            </article>
          </div>
          <% } %>

            <ul class="settings-inner details-inner">
              <span class="material-symbols-outlined back">keyboard_return</span>
              <h2>AI Assistant Settings</h2>
              <div class="title-container">
                <div class="article-title">Customer Objective</div>
                <div class="title-input">
                  <div class="column">
                    <div for="customerObjective" class="hide" id="outputCustomerObjective"></div>
                    <select name="customerObjective" id="customerObjective">
                      <option class="selected" value="Select Customer Objective" disabled selected>Select Customer
                        Objective
                      </option>
                      <option value="None">None</option>
                      <% customerObjectives.forEach(customerObjective=> {%>
                        <option value="<%= customerObjective.attributes.objectivename %>">
                          <%= customerObjective.attributes.objectivename %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="title-container">
                <div class="article-title">Tone / Personality</div>
                <div class="title-input">
                  <div class="column">
                    <div for="tone" class="hide" id="outputTone"></div>
                    <select name="tone" id="tone">
                      <option class="selected" value="Select Tone/Personality" disabled selected>Select Tone/Personality
                      </option>
                      <option value="None">Standard</option>
                      <% tones.forEach(tone=> {%>
                        <option value="<%= tone.attributes.tonename %>">
                          <%= tone.attributes.tonename %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="title-container">
                <div class="article-title">Author</div>
                <div class="title-input">
                  <div class="column">
                    <div for="author" class="hide" id="outputAuthor"></div>
                    <select name="author" id="author">
                      <option class="selected" value="Select Author" disabled selected>Select Author</option>
                      <option value="None">None</option>
                      <% authors.forEach(author=> {%>
                        <% if (author.username !="sadev" ) { %>
                          <option value="<%= author.firstname %> <%= author.lastname %>">
                            <%= author.firstname %>
                              <%= author.lastname %>
                          </option>
                          <% } %>
                            <% }); %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="title-container">
                <div class="article-title">Perspective</div>
                <div class="title-input">
                  <div class="column">
                    <div for="perspective" class="hide" id="outputPerspective"></div>
                    <select name="perspective" id="perspective">
                      <option class="selected" value="Select Perspective" disabled selected>Select Perspective</option>
                      <option value="None">None</option>
                      <% perspectives.forEach(perspective=> {%>
                        <option value="<%= perspective.attributes.perspectivename %>">
                          <%= perspective.attributes.perspectivename %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="title-container to-outer">
                <div class="article-title">Target Market</div>
                <div class="title-input">
                  <div>
                    <input type="hidden" name="targetOptions" id="targetOptions">
                    <select name="target" id="target" multiple>
                      <option value="None" selected>None</option>
                      <% targetMarkets.forEach(targetMarket=> {%>
                        <option value="<%= targetMarket.attributes.tonename %>">
                          <%= targetMarket.attributes.targetname %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                </div>
              </div>
            </ul>
            <form class="settings-inner profile-inner" action="/" method="POST">
              <input type="hidden" name="userAction" value="UpdateProfile">
              <span class="material-symbols-outlined back">keyboard_return</span>
              <h2>Profile Details</h2>
              <span class="profile-notice">*username & email can't be changed</span>
              <div class="title-container">
                <div class="article-title">Username</div>
                <div class="title-input"><input type="text" name="username" class="profile-input" id="username"
                    value="<%= username %>" disabled></div>
              </div>
              <div class="title-container">
                <div class="article-title">Email</div>
                <div class="title-input"><input type="text" name="email" class="profile-input" id="email"
                    value="<%= email %>" disabled></div>
              </div>
              <div class="title-container">
                <div class="article-title">First Name</div>
                <div class="title-input"><input type="text" name="firstname" class="profile-input" id="firstname"
                    value="<%= firstname %>" required></div>
              </div>
              <div class="title-container">
                <div class="article-title">Last Name</div>
                <div class="title-input"><input type="text" name="lastname" class="profile-input" id="lastname"
                    value="<%= lastname %>" required></div>
              </div>
              <div class="title-container bio-container">
                <div class="textarea-title">Bio</div>
                <div class="title-input"><textarea name="bio" class="profile-input" id="bio" rows="10"
                    placeholder="Enter your bio here..."><%= bio %></textarea></div>
              </div>
              <div class="savechanges">
                <button type="submit" class="button save material-symbols-rounded">save</button>
              </div>
            </form>
            <form class="settings-inner change-password-inner" action="/" method="POST">
              <input type="hidden" name="userAction" value="ChangePassword">
              <span class="material-symbols-outlined back">keyboard_return</span>
              <h2>Change Password</h2>
              <div class="title-container">
                <div class="article-title">Current Password</div>
                <div class="title-input"><input type="password" name="password" class="profile-input" id="password"
                    placeholder="Enter your current password..." minlength="6" required></div>
              </div>
              <div class="title-container">
                <div class="article-title">New Password</div>
                <div class="title-input"><input type="password" name="newpassword" class="profile-input"
                    id="newpassword" placeholder="Enter your new password..." minlength="6" required></div>
              </div>
              <div class="title-container">
                <div class="article-title">Confirm Password</div>
                <div class="title-input"><input type="password" name="confirmpassword" class="profile-input"
                    id="confirmpassword" placeholder="Confirm your new password..." minlength="6" required></div>
              </div>
              <div class="savechanges">
                <button type="submit" class="button change material-symbols-rounded">save</button>
              </div>
            </form>
      </div>

      <form class="tabs-section tab-content-2" id="regForm">
        <input type="hidden" name="userAction" id="userAction" value="ArticleGenerator">
        <input type="hidden" name="userName" id="userName" value="<%= username %>">
        <div class="tab">
          <p class="instruction ins-1">* Article Title and Focus Keyword is required, make sure to add content.</p>
          <p class="instruction ins-2">* Make sure to click the check icon after editing a heading/subheading title.
          </p>
          <div class="title-container">
            <div class="article-title">Article Title</div>
            <div class="title-input"><input type="text" name="articletitle" class="generator-input" id="articletitle"
                placeholder="Enter your desired article title..." required></div>
          </div>
          <div class="focus-keyword">
            <span class="keyword-title">Focus Keyword: <input type="text" name="keyword" class="generator-input"
                id="keyword" placeholder="Enter your focus keyword..." required></span>
          </div>
          <div id="topics">
            <div class="inner-list" draggable="true">
              <div class="list" id="list1">
                <span class="list-title heading-list">
                  <label for="heading1">
                    <input type="checkbox" class="heading" id="heading1" name="heading" checked="checked"
                      value="Article Heading 1">
                    <span class="checkmark"></span>
                  </label>
                  <input type="text" class="heading-text" id="headingText1" value="Article Heading 1">
                </span>
                <span class="material-symbols-outlined topic-actions checkheading" style="display:none;">check</span>
                <span class="material-symbols-outlined topic-actions editheading">edit_square</span>
                <span class="material-symbols-outlined topic-actions addsubheadings">forms_add_on</span>
                <span class="material-symbols-outlined topic-actions addquery"
                  onclick="document.getElementById('query1').style.display='flex'">page_info</span>
                <span class="material-symbols-outlined topic-actions deleteheading">delete</span>
                <span class="material-symbols-outlined">drag_indicator</span>
                <div class="query-modal" id="query1">
                  <div class="modal-container">
                    <div class="modal-container-header">
                      <h1 class="modal-container-title">
                        Set Heading Query/Instruction
                      </h1>
                      <span class="icon-button" onclick="document.getElementById('query1').style.display='none'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z" />
                          <path fill="currentColor"
                            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                        </svg>
                      </span>
                    </div>
                    <section class="modal-container-body rtf">
                      <textarea type="textarea" name="listquery" class="listquery" id="listquery1" cols="10"
                        rows="10"></textarea>
                    </section>
                    <footer class="modal-container-footer">
                      <span class="query-button is-primary"
                        onclick="document.getElementById('query1').style.display='none'">Okay</span>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-list-container">
              <span class="list-title add-list"> Add Heading <span class="material-symbols-outlined">add</span></span>
            </div>
          </div>
        </div>
        <div class="tab regform-settings">
          <h2 class="choose-site-info">Choose the website where the article is intended for creation.</h2>
          
          <div class="choose-site-container">
            <input type="radio" id="companySite" name="choose-site" value="Company Site" checked="checked">
            <label for="companySite" class="shoreagents-site"><img src="/images/shoreagents-white.png" alt="ShoreAgents Logo"></label>
            <input type="radio" id="careersSite" name="choose-site" value="Careers Site">
            <label for="careersSite" class="careers-site"><img src="/images/shoreagents-careers-white.png" alt="ShoreAgents Careers Logo"></label>
          </div>

          <div class="title-container">
            <div class="article-title">Customer Objective</div>
            <div class="title-input">
              <div class="column">
                <div for="customerObjective" class="hide" id="articleCustomerObjective"></div>
                <select name="customerObjective" id="articleCO">
                  <option class="selected" value="Select Customer Objective" disabled selected>Select Customer
                    Objective
                  </option>
                  <option value="None">None</option>
                  <% customerObjectives.forEach(customerObjective=> {%>
                    <option value="<%= customerObjective.attributes.objectivename %>">
                      <%= customerObjective.attributes.objectivename %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>

          <div class="title-container">
            <div class="article-title">Tone / Personality</div>
            <div class="title-input">
              <div class="column">
                <div class="hide" id="articleTonePersonality"></div>
                <select name="tone" id="articleTone">
                  <option class="selected" value="Select Tone/Personality" disabled selected>Select Tone/Personality
                  </option>
                  <option value="None">Standard</option>
                  <% tones.forEach(tone=> {%>
                    <option value="<%= tone.attributes.tonename %>">
                      <%= tone.attributes.tonename %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>

          <div class="title-container">
            <div class="article-title">Author</div>
            <div class="title-input">
              <div class="column">
                <div class="hide" id="articleOutputAuthor"></div>
                <select name="author" id="articleAuthor">
                  <option class="selected" value="Select Author" disabled selected>Select Author</option>
                  <option value="None">None</option>
                  <% authors.forEach(author=> {%>
                    <% if (author.username !="sadev" ) { %>
                      <option value="<%= author.firstname %> <%= author.lastname %>">
                        <%= author.firstname %>
                          <%= author.lastname %>
                      </option>
                      <% } %>
                        <% }); %>
                </select>
              </div>
            </div>
          </div>

          <div class="title-container">
            <div class="article-title">Perspective</div>
            <div class="title-input">
              <div class="column">
                <div class="hide" id="articleOutputPerspective"></div>
                <select name="perspective" id="articlePerspective">
                  <option class="selected" value="Select Perspective" disabled selected>Select Perspective</option>
                  <option value="None">None</option>
                  <% perspectives.forEach(perspective=> {%>
                    <option value="<%= perspective.attributes.perspectivename %>">
                      <%= perspective.attributes.perspectivename %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>

          <div class="title-container">
            <div class="article-title">Target Market</div>
            <div class="title-input">
              <div class="column">
                <input type="hidden" name="articleTargetOptions" id="articleTargetOptions" required>
                <select name="target" id="articleTarget" multiple>
                  <option value="None" selected>None</option>
                  <% targetMarkets.forEach(targetMarket=> {%>
                    <option value="<%= targetMarket.attributes.tonename %>">
                      <%= targetMarket.attributes.targetname %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>

          <div class="button-container">
            <span onclick="document.getElementById('generalPrompt').style.display='flex'"
              class="editdata generalprompt">General Prompt</span>
          </div>

          <div class="general-query-modal" id="generalPrompt">
            <div class="modal-container">
              <div class="modal-container-header">
                <h1 class="modal-container-title">
                  Set General Query/Instruction
                </h1>
                <span class="icon-button" onclick="document.getElementById('generalPrompt').style.display='none'">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path fill="currentColor"
                      d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                  </svg>
                </span>
              </div>
              <section class="modal-container-body rtf">
                <textarea type="textarea" name="generalquery" class="generalquery" id="generalquery" cols="10"
                  rows="10"></textarea>
              </section>
              <footer class="modal-container-footer">
                <span class="query-button is-primary"
                  onclick="document.getElementById('generalPrompt').style.display='none'">Okay</span>
              </footer>
            </div>
          </div>
        </div>

        <div style="overflow:auto;">
          <div style="float:right; margin-top: 15px;">
            <button type="button" id="prevBtn" class="button" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" class="button btn-disabled" onclick="nextPrev(1)">Next</button>
          </div>
        </div>

        <div style="text-align:center;margin:30px 0;">
          <span class="step"></span>
          <span class="step"></span>
        </div>

      </form>

      <div class="tabs-section tab-content-3" id="queriedGenerator">
        <input type="hidden" name="userAction" id="userAction" value="QueriedGenerator">
        <input type="hidden" name="userName" id="userNameQuery" value="<%= username %>">
        <div class="query-tab">
          <h2 class="choose-site-info">Choose the website where the article is intended for creation.</h2>
          <div class="choose-site-container-query">
            <input type="radio" id="companySiteQuery" name="choose-site-query" value="Company Site" checked="checked">
            <label for="companySiteQuery" class="shoreagents-site"><img src="/images/shoreagents-white.png" alt="ShoreAgents Logo"></label>
            <input type="radio" id="careersSiteQuery" name="choose-site-query" value="Careers Site">
            <label for="careersSiteQuery" class="careers-site"><img src="/images/shoreagents-careers-white.png" alt="ShoreAgents Careers Logo"></label>
          </div>
          <div class="title-container">
            <div class="article-title">Focus Keyword</div>
            <div class="title-input"><input type="text" name="keyword" class="generator-input" id="queriedKeyword"
                placeholder="Enter your focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="textarea-title">Article Overview</div>
            <div class="title-input"><textarea name="overview" class="generator-input" id="articleOverview"
                placeholder="Enter article overview and instructions..." rows="7" required></textarea></div>
          </div>
          <div class="title-container to-outer">
            <div class="article-title">Target Market</div>
            <div class="title-input">
              <div>
                <input type="hidden" name="articleTargetOptions" id="queryArticleTO" required>
                <select name="target" id="articleTargetBulk" multiple>
                  <option value="None" selected>None</option>
                  <% targetMarkets.forEach(targetMarket=> {%>
                    <option value="<%= targetMarket.attributes.tonename %>">
                      <%= targetMarket.attributes.targetname %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>
          <div class="title-container">
            <div class="article-title">Customer Objective</div>
            <div class="title-input">
              <div class="column">
                <div for="customerObjective" class="hide" id="queryOutputCO"></div>
                <select name="customerObjective" id="queryCO">
                  <option class="selected" value="Select Customer Objective" disabled selected>Select Customer
                    Objective
                  </option>
                  <option value="None">None</option>
                  <% customerObjectives.forEach(customerObjective=> {%>
                    <option value="<%= customerObjective.attributes.objectivename %>">
                      <%= customerObjective.attributes.objectivename %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>
          <div class="title-container">
            <div class="article-title">Tone / Personality</div>
            <div class="title-input">
              <div class="column">
                <div for="tone" class="hide" id="queryOutputTone"></div>
                <select name="tone" id="queryArticleTone">
                  <option class="selected" value="Select Tone/Personality" disabled selected>Select Tone/Personality
                  </option>
                  <option value="None">Standard</option>
                  <% tones.forEach(tone=> {%>
                    <option value="<%= tone.attributes.tonename %>">
                      <%= tone.attributes.tonename %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>
          <div class="title-container">
            <div class="article-title">Author</div>
            <div class="title-input">
              <div class="column">
                <div for="author" class="hide" id="queryOutputAuthor"></div>
                <select name="author" id="queryArticleAuthor">
                  <option class="selected" value="Select Author" disabled selected>Select Author</option>
                  <option value="None">None</option>
                  <% authors.forEach(author=> {%>
                    <% if (author.username !="sadev" ) { %>
                      <option value="<%= author.firstname %> <%= author.lastname %>">
                        <%= author.firstname %>
                          <%= author.lastname %>
                      </option>
                      <% } %>
                        <% }); %>
                </select>
              </div>
            </div>
          </div>
          <div class="title-container">
            <div class="article-title">Perspective</div>
            <div class="title-input">
              <div class="column">
                <div for="perspective" class="hide" id="queryOutputPerspective"></div>
                <select name="perspective" id="queryArticlePerspective">
                  <option class="selected" value="Select Perspective" disabled selected>Select Perspective</option>
                  <option value="None">None</option>
                  <% perspectives.forEach(perspective=> {%>
                    <option value="<%= perspective.attributes.perspectivename %>">
                      <%= perspective.attributes.perspectivename %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
          </div>
          <div class="generate-btn-query">
            <button type="button" id="nextBtnQuery" class="button btn-disabled"
              onclick="nextPrevQuery()">Generate</button>
          </div>
        </div>
      </div>

      <div class="tabs-section tab-content-4" id="bulkGenerator">
        <div class="bulk-tab">
          <div class="bulk-options">
            <span class="material-symbols-outlined generate-keywords">edit_note</span>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 1</div>
            <div class="title-input"><input type="text" name="focuskeyword1" class="generator-input focuskeyword"
                id="focuskeyword1" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 2</div>
            <div class="title-input"><input type="text" name="focuskeyword2" class="generator-input focuskeyword"
                id="focuskeyword2" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 3</div>
            <div class="title-input"><input type="text" name="focuskeyword3" class="generator-input focuskeyword"
                id="focuskeyword3" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 4</div>
            <div class="title-input"><input type="text" name="focuskeyword4" class="generator-input focuskeyword"
                id="focuskeyword4" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 5</div>
            <div class="title-input"><input type="text" name="focuskeyword5" class="generator-input focuskeyword"
                id="focuskeyword5" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 6</div>
            <div class="title-input"><input type="text" name="focuskeyword6" class="generator-input focuskeyword"
                id="focuskeyword6" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 7</div>
            <div class="title-input"><input type="text" name="focuskeyword7" class="generator-input focuskeyword"
                id="focuskeyword7" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 8</div>
            <div class="title-input"><input type="text" name="focuskeyword8" class="generator-input focuskeyword"
                id="focuskeyword8" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 9</div>
            <div class="title-input"><input type="text" name="focuskeyword9" class="generator-input focuskeyword"
                id="focuskeyword9" placeholder="Enter your desired focus keyword..." required></div>
          </div>
          <div class="title-container">
            <div class="article-title">Keyword 10</div>
            <div class="title-input"><input type="text" name="focuskeyword10" class="generator-input focuskeyword"
                id="focuskeyword10" placeholder="Enter your desired focus keyword..." required></div>
          </div>
        </div>

        <div class="bulk-tab">
          <ul class="details-inner">
            <div class="details-input">
              <div class="row">
                <div class="column">
                  <div for="customerObjective" class="hide" id="bulkOutputCO"></div>
                  <label for="customerObjective">Customer Objectives</label>
                  <select name="customerObjective" id="bulkCO">
                    <option class="selected" value="Select Customer Objective" disabled selected>Select Customer
                      Objective
                    </option>
                    <option value="None">None</option>
                    <% customerObjectives.forEach(customerObjective=> {%>
                      <option value="<%= customerObjective.attributes.objectivename %>">
                        <%= customerObjective.attributes.objectivename %>
                      </option>
                      <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <div for="tone" class="hide" id="bulkOutputTone"></div>
                  <label for="tone" class="firstlabel">Tone/Personality</label>
                  <select name="tone" id="bulkArticleTone">
                    <option class="selected" value="Select Tone/Personality" disabled selected>Select Tone/Personality
                    </option>
                    <option value="None">Standard</option>
                    <% tones.forEach(tone=> {%>
                      <option value="<%= tone.attributes.tonename %>">
                        <%= tone.attributes.tonename %>
                      </option>
                      <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <input type="hidden" name="articleTargetOptions" id="bulkArticleTO" required>
                  <label for="target">Target Market</label>
                  <select name="target" id="articleTargetBulk" multiple>
                    <option value="None" selected>None</option>
                    <% targetMarkets.forEach(targetMarket=> {%>
                      <option value="<%= targetMarket.attributes.tonename %>">
                        <%= targetMarket.attributes.targetname %>
                      </option>
                      <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <div for="author" class="hide" id="bulkOutputAuthor"></div>
                  <label for="author">Author</label>
                  <select name="author" id="bulkArticleAuthor">
                    <option class="selected" value="Select Author" disabled selected>Select Author</option>
                    <option value="None">None</option>
                    <% authors.forEach(author=> {%>
                      <% if (author.username !="sadev" ) { %>
                        <option value="<%= author.firstname %> <%= author.lastname %>">
                          <%= author.firstname %>
                            <%= author.lastname %>
                        </option>
                        <% } %>
                          <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <div for="perspective" class="hide" id="bulkOutputPerspective"></div>
                  <label for="perspective">Perspective</label>
                  <select name="perspective" id="bulkArticlePerspective">
                    <option class="selected" value="Select Perspective" disabled selected>Select Perspective</option>
                    <option value="None">None</option>
                    <% perspectives.forEach(perspective=> {%>
                      <option value="<%= perspective.attributes.perspectivename %>">
                        <%= perspective.attributes.perspectivename %>
                      </option>
                      <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <div class="button-container">
                    <span onclick="document.getElementById('bulkGeneralPrompt').style.display='flex'"
                      class="editdata generalprompt">General Prompt</span>
                  </div>
                </div>
              </div>
              <div class="general-query-modal" id="bulkGeneralPrompt">
                <div class="modal-container">
                  <div class="modal-container-header">
                    <h1 class="modal-container-title">
                      Set General Query/Instruction
                    </h1>
                    <span class="icon-button"
                      onclick="document.getElementById('bulkGeneralPrompt').style.display='none'">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path fill="currentColor"
                          d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                      </svg>
                    </span>
                  </div>
                  <section class="modal-container-body rtf">
                    <textarea type="textarea" name="generalquery" class="generalquery" id="bulkGeneralQuery" cols="10"
                      rows="10"></textarea>
                  </section>
                  <footer class="modal-container-footer">
                    <span class="query-button is-primary"
                      onclick="document.getElementById('bulkGeneralPrompt').style.display='none'">Okay</span>
                  </footer>
                </div>
              </div>
            </div>
          </ul>
        </div>

        <div>
          <div style="float:right; margin-top: 15px;">
            <button type="button" id="prevBtnBulk" class="button" onclick="nextPrevBulk(-1)">Previous</button>
            <button type="button" id="nextBtnBulk" class="button btn-disabled" onclick="nextPrevBulk(1)">Next</button>
          </div>
        </div>

        <div style="text-align:center;margin-top:40px;">
          <span class="bulk-step"></span>
          <span class="bulk-step"></span>
        </div>

      </div>


    </header>

  </main>

  <aside class="right-section">
    <div class="blog-builder">
      <div class="user-outer">

        <div class="chatbot user-section">
          <header>
            <h2>Editor</h2>
          </header>
          <ul class="chatbox user-textarea">
            <div class="user-input">
              <form action="" method="post">
                <textarea name="textarea" id="default"></textarea>
              </form>
            </div>
          </ul>
        </div>

        <div class="chatbot meta-fields">
          <div class="title-container">
            <div class="article-title">SEO Title</div>
            <div class="title-input"><input type="text" name="seoTitle" class="generator-input" id="seoTitle"
                placeholder="Enter article seo title..." required></div>
          </div>
          <div class="title-container">
            <div class="textarea-title">Meta Description</div>
            <div class="title-input"><textarea name="metadescription" class="generator-input" id="metaDescription"
                placeholder="Enter article meta description..." rows="3" required></textarea></div>
          </div>
          <div class="title-container">
            <div class="article-title">Slug</div>
            <div class="title-input"><input type="text" name="slug" class="generator-input" id="slug"
                placeholder="Enter article slug..." required></div>
          </div>
          <button class="float">
            <span class="material-symbols-outlined my-float">publish</span>
            <span class="float-content">Publish Article</span>
          </button>
        </div>

        <div class="user-accordion">
          <h3>Articles Generated</h3>
          <button class="accordion article1"><span>Section 1</span></button>
          <div class="panel panel-article1">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article2"><span>Section 2</span></button>
          <div class="panel panel-article2">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article3"><span>Section 3</span></button>
          <div class="panel panel-article3">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article4"><span>Section 4</span></button>
          <div class="panel panel-article4">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article5"><span>Section 5</span></button>
          <div class="panel panel-article5">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article6"><span>Section 6</span></button>
          <div class="panel panel-article6">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article7"><span>Section 7</span></button>
          <div class="panel panel-article7">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article8"><span>Section 8</span></button>
          <div class="panel panel-article8">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article9"><span>Section 9</span></button>
          <div class="panel panel-article9">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <button class="accordion article10"><span>Section 10</span></button>
          <div class="panel panel-article10">
            <textarea name="textarea" id="default"></textarea>
          </div>
          <div class="publish-container">
            <button class="publish" onclick="document.getElementById('bulkLogin').style.display='flex'"><span>Publish
                Articles</span></button>
          </div>
        </div>
      </div>
    </div>

  </aside>

</div>

<div id="myNav" class="overlay">
  <div class="overlay-content">
    <p class="generating-text">Generating content. Please wait and do not exit or refresh this page!</p>

    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/fcf59440-0374-4239-bee5-bf128ca3b4e8/MNtTtobPqW.json"
      background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
  </div>
</div>

<div class="login" id="login">
  <article class="modal-container login-modal">
    <div class="modal-container-header">
      <h1 class="modal-container-title">
        Publish Article
      </h1>
      <button class="icon-button" onclick="document.getElementById('login').style.display='none'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path fill="currentColor"
            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
        </svg>
      </button>
    </div>
    <div class="choose-site">
      <span class="shoreagents-site"><img src="/images/shoreagents-white.png" alt="ShoreAgents Logo"></span>
      <span class="careers-site"><img src="/images/shoreagents-careers-white.png" alt="ShoreAgents Careers Logo"></span>
    </div>
    <div class="login-wordpress">
      <input type="hidden" class="publish-website" value="">
      <section class="modal-container-body login-body rtf">
        <span class="material-symbols-outlined publish-back">keyboard_return</span>
        <span class="profile-notice"></span>
        <p class="login-error">Invalid username/password</p>
        <div class="login-container">
          <div class="login-title">Username</div>
          <div class="title-input"><input type="text" class="login-input" id="loginusername" name="username"
              placeholder="Enter username..." required></div>
        </div>
        <div class="login-container">
          <div class="login-title">Password</div>
          <div class="title-input"><input type="password" class="login-input" id="loginpassword" name="password"
              placeholder="Enter password..." required></div>
        </div>
      </section>
      <footer class="modal-container-footer">
        <span class="button is-primary loginbtn">Login</span>
      </footer>
    </div>
  </article>
</div>